version:"3"
services:
    frontend:
        container_name: frontend-container 
        build: ./client
        ports:
            - "3000:3000"
        depends_on:
            - backend
        networks:
            - my-network 
    
    backend:
        container_name: backend-container
        build: ./server 
        restart: always
        ports:
            - "4000:4000"
        networks:
            - my-network 
    
networks:
    my-network:
        driver: bridge
